<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chemistry Lab Simulator</title>
    <link rel="stylesheet" href="../assets/output.css" />
  </head>
  <body>
    <h1 style="text-align: center;">Chemistry Lab Simulator</h1>
    <div class="mainBox">
      <div class="secondaryBox">

      <div class="child1">
<p id="output1"></p>


      </div>
      <div class="child2">
<p id="output2"></p>

      </div>
    </div>
  </div>

    <script src="./script.js"></script>
  </body>
</html>