<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/tube.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackamigos</title>
</head>
<body>
    <div>
        <a class="C1">
            <div class="tube"></div>
            <div class="tubetop"></div>
        </a>
        </div>
        <div>
        <a class="C1">
            <div class="tube"></div>
            <div class="tubetop"></div>
        </a>
    </div>
    <button>Element 1</button>
    <button>Element 2</button>
    <button>Element 3</button>
</body>
</html>